<div class="center jumbotron bg-primary">
  <div class="text-center text-warning">
    <h2>ユーザの皆さんとディスカッションを楽しみましょう！</h2>
  </div>
</div>

  <div class="text-center text-primary border-top border-primary">
    <h2>登録はこちらから</h2>
  </div>
  <div class="text-center">
    <h2>↓↓↓</h2>
  </div>
  <div class="text-center border-bottom border-primary">
    <h2><%= link_to '登録', signup_path, class: 'btn btn-lg btn-primary' %></h2>
  </div>