<% if logged_in? %>
  <div class="layer">
      <img src="/assets/background-image.jpg">
      <p>～ディスカッションを通じて新たな発見を～</p>
  </div>
    
    <div class="menu">
      <div class="border border-info mt-4">
        <h2>メニュー</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2><%= link_to 'トークルーム一覧', rooms_path, class: 'btn btn-block btn-primary' %></h2>
        </div>
        <div class="col-sm-6">
          <h2><%= link_to 'ユーザ一覧', users_path, class: 'btn btn-block btn-primary' %></h2>
        </div>
      </div>
    </div>
    
    <div class="news">
      <h2 class="border-bottom border-dark text-center">お知らせ</h2>
      <ul>
        <li>ここにお知らせが入ります。</li>
      </ul>
    </div>
    
<% else %>
  <div class="layer-before">
      <img src="/assets/background-image2.jpg">
      <p class="text-center">～このサイトは本について他のユーザとディスカッションをすることで理解を深めるサイトです～</p>
  </div>
  
    <div class="text-center text-primary border-top border-primary mt-4">
      <h2>登録はこちらから</h2>
    </div>
    <div class="text-center">
      <h2>↓↓↓</h2>
    </div>
    <div class="text-center border-bottom border-primary">
      <h2><%= link_to '登録', signup_path, class: 'btn btn-lg btn-primary' %></h2>
    </div>
  <% end %>