<footer class="text-center border">
    <div class="footer-menu">
            <p><%= link_to 'HOME', root_path %></p>
            <p><%= link_to 'トークルーム一覧', rooms_path %></p>
            <p><%= link_to 'ユーザ一覧', users_path %></p>
    </div>
　　<div class="copy">
        &copy; 2021 BookLighter Inc.
    </div>
    </footer>